*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

body{
    margin: 0;
    padding: 0;
}

nav{
    padding-top: 30px;
    text-align: center;
}
nav::after{content: "";
  display: table;
  clear: both;}
.main0{
    /* background- */
    background-image: url(../My\ Website™\ Files/Image/wang.png);
    padding-top: 80px;
    background-repeat: no-repeat;
    padding-bottom: 80px;
    width: 100%;
}

.container{
    padding: 15px;
    background-color: #0376fc;
    position: inherit;
}
.a1{
    text-decoration: none;
    color: white;
    padding: 12px;
}
.a2{
    text-decoration: none;
    float: right;
    color: white;
    /* padding: 12px; */
}
.a1:hover{
    text-decoration: underline;
    color: rgb(0, 0, 0);
    background-color: white;
}
.a2:hover{
    text-decoration: underline;
    color: rgb(0, 0, 0);
    color: white;
}

.main1{
    margin: 10px;
    background-color: #0376fc;
    width: 70%;
    border: 2px solid black;
    padding: 12px;
    float: left;
}

.imdi1{
    border: 1px double rgb(201, 201, 201);
    width: 100%;
    height: 120px;
}

.im1{
    float: left;
    padding: 5px;
    border-image: 2 4 1 ;
}
.im2{
    float: left;
    padding-top: 30px;
    padding-right: 1px;
    border-image: 2 4 1 ;
}
.im3 , .im4, .im5{
    float: left;
    padding: 2px;
    border-image: 2 4 1 ;
}
.h1{
    font-size: 50px;
    text-align: left;
    background-color: rgb(128, 128, 128);    
}
.p0{
    text-align: left;
    padding: 2px;
}
.p1, .p2, .p3, .p4{
    text-align: left;
    padding: 2px;
}


.main2{
    margin: 10px;
    background-color: #0376fc;
    width: 22%;
    border: 2px solid black;
    float: left;
    padding: 10px 24.5px;
    padding-bottom: 71px;
}
footer{
    background-color: #0376fc;
    border: 2px solid black;
    float: bottom;
    padding: 10px;
    margin: 10px;
}
li{
    list-style-type: none;
}
.patlu{
    float: left;
}

.last{
    background-color: black;
    padding: 25px;
    margin: 10px;
}
.a3{
    background-color: black;
    padding: 12px;
    text-decoration: none;
}
.a3:hover{
    background-color: #0376fc;
    text-decoration: underline;
}
.a3{
    background-color: black;
    padding: 12px;
    text-decoration: none;
}
.a4{
    text-decoration: none;
    float: right;
}
.a4:hover{
    text-decoration: underline;
}

a:after{
    padding: 12px;
    border-radius: 12px;
}
